[submodule "spec"]
	path = spec
	url = https://github.com/dylanbeattie/rockstar
[submodule "vendor/llvm_sys"]
	path = vendor/llvm_sys
	branch = llvm-gc-linking-fix
	url = https://github.com/wabain/llvm-sys.rs.git
